.seichi-show-title{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.seichi-show{
  width: 100%;
  display: flex;
  justify-content: center;
}

.show-content{
  height: 90vh;
  width: 80vw;
}

.seichi-box-img{
  width: 400px;
  height: 400px;
}

